#head{
    text-align: center;
    font-size: 2em;
}
.why{
    background-color: rgb(255, 101, 101);
    font-size: 1em;
    justify-content: right; 
    color: rgb(255, 255, 255);
}
.what{
    cursor: pointer;
}
img{
    width:20%;
    
}
.image{
    justify-content: center;
}
.email,.mobile,i{
    opacity: 0.5;
}
i:hover,i:active{
    opacity: 1;
}
.active ,.nav-item .active:hover{
    border:unset !important;
    border-bottom: 2px rgb(255, 101, 101) solid !important;
}
.nav-item  a:hover,a{
    color:unset;
    border: unset !important;
}
