  /*  
@media (min-width:768px){
    #message{
        width:720px;
    }
  }
  @media (min-width:576px){
      #message{
          width:540px;
      }
    }*/

   
html{
        height: 100%;
    }
body{
        height:98%;
    }  
.container{
        height:100%;
    }
#head{
        text-align: center;
        font-size: 2em;
    }

.why{
    background-color: rgb(255, 101, 101);
    font-size: 1em;
    justify-content: right; 
    color: rgb(255, 255, 255);
}
.what{
    cursor: pointer;
}
div#chat{
    max-height: 70%;
    overflow: overlay;
}

#message:focus{
    outline: none !important;
    border: rgb(0, 0, 0) 1px;
    box-shadow: 0 0 1px;
}
#snackbar {

    max-width: 250px; /* Set a default minimum width */
    background-color: white; /* Black background color */
    color: black; /* White text color */
    border-radius: 10px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: relative; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    box-shadow: 5px;
  }
  .me{
    background-color: #d4edda !important;  
    margin-left: 60% !important;
  }
  .snack-head{
      background-color: lightgray;
      text-align:center;
      opacity: 0.5;
  }



img{
    max-width: 1em;
    max-height: 1em;
}

.row{
    display: block;
}
#footer{
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 15%;
    display:flex;
    flex-direction:row;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    position: fixed;
    bottom: 7%; 
}
#footer input{
    flex-grow: 2;
    border: none;
    margin-top: 0.1%;
}
#footer input:focus{
    box-shadow: none ;
}
#footer button {
    margin:0.5%;
}
.toast{
    width: 25em;
}