    
@media (min-width:768px){
    #message{
        width:720px;
    }
  }
  @media (min-width:576px){
      #message{
          width:540px;
      }
    }

    #header{
        background-color: rgb(175, 175, 175);
        font-size: 1em;
        
    }
    
html{
        height: 100%;
    }
body{
        height:100%;
        background-image: url('backgroung.jpg');
        background-repeat: repeat;
        background-size: cover;
    }  
.container{
        height:95%;
    }
#head{
        text-align: center;
        font-size: 2em;
    }

.why{
    background-color: rgb(175, 175, 175);
    font-size: 1em;
    justify-content: right; 
    color: rgb(236, 236, 236);
}
.what{
    cursor: pointer;
}

#message:focus{
    outline: none !important;
    border: rgb(0, 0, 0) 1px;
    box-shadow: 0 0 1px;
}
#snackbar {

    max-width: 250px; /* Set a default minimum width */
    background-color: white; /* Black background color */
    color: black; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: relative; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    box-shadow: 5px;
  }
  .snack-head{
      background-color: lightgray;
      text-align:left;
      opacity: 0.5;
  }



img{
    max-width: 1em;
    max-height: 1em;
}

.row{
    display: block;
}
#footer{
    position: fixed;
    width:80%;
    left:10%;
    bottom: 5%;
}
#message{
    width: 100%;
}