<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyChat</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/routes/chat/css/style.css">
    <script src="/routes/chat/script.js"></script>
</head>
<body>
    
          
    <div class="box my-1 rounded"></div>
    <div class="container my-1 rounded" style="height: unset;">
    <h1 class="badge badge-dark m-1" id='head'>WhatsChat</h1>
    <div class="row m-2 rounded why">
        <div class='col-4 what'>Why WhatsChat?</div>
    </div>
    </div>
    <div class="container" >
    <div id='chat' class='row'></div>
    </div>
    <div id='chatbox'>
          <input type='text' id='message' class='form-control col'>
          <button class='btn btn-outline-dark' id='sendmsg'>Send</button>
    </div>
    <div class="container c2" style="height: unset;">
        <div id='footer' class="row">
             <span id='_1' class="col">WhatsChat Inc.</span>
             <span id='_2' class="mx-2 mr-1 col-3 col-md-2">Contact Us</span>
             <a href="/disclaimer"><span id='_3' class="mx-2 mr-1 col-2">Disclamer</span></a>
        </div>
     </div>

</body>
</html>