<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>   
    <link rel='stylesheet' href='/routes/profile/css/style.css'>
    <script src='/routes/profile/script.js'></script>
    <title>MyChat</title>
</head>
<body>
    <div class="container my-1">
        <!-- Head -->
        <h1 class="badge badge-dark m-1" id='head'>MyChat</h1>
    <!-- Head -->

    <!--why whatschat-->
        <div class="row m-2 rounded why">
            <div class='col-4 what'>Why MyChat?</div>
        </div>

        <div class="row">
            <img> 
        </div>

        <div class='row'>
            <div class='col-4'>Name</div> <div class='col name'></div>
        </div>
    </div>
</body>
</html>