@media (min-width:768px){
 /* #chatline,#error{
      width:720px;
  }*/
    #error{
        width:720px;
    }

}

@media (min-width:576px){
    /*#chatline,#error{
        width:540px;
    }*/
  }

@media (min-width:466px){
  /* input.friends{
        width:60% !important;
    }
    .alert-danger input.friends{
        width: 65% !important;
    }*/
}

@media (min-width:768px){
  /*  input.friends{
        width:68% !important;
    }
    .alert-danger input.friends{
        width: 73% !important;
    }*/
}

@media (min-width:992px)
{
  /*  input.friends{
        width:75% !important;
    }
    .alert-danger input.friends{
        width: 80% !important;
    }*/
} 

@media(max-width:768px){
    /*.chat-btns{
        display: none;
    }*/
}

#header{
    background-color: rgb(255, 101, 101);
    font-size: 1em;
    color:white;
}

html{
    height: 100%;
}

body{
    height: 97%;
}

div.container.rounded{
    height: 100vh;
}

#head{
    text-align: center;
    font-size: 2em;
}

.why{
    background-color: rgb(255, 101, 101);
    font-size: 1em;
    justify-content: right; 
    color: rgb(255, 255, 255);
}
.what{
    cursor: pointer;
}

.alert-danger .friends{
    border-color: black;
    text-transform: capitalize;
}

.alert-danger .online{
    display: block !important;
    font-size: smaller;
}

#chatline,#error{
    padding-right: 15px;
    padding-left: 15px;
    display:flex;
    flex-direction:row;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1em;
    position: relative;
    bottom: 0%;    
}

#error{
   bottom:2%;
}

input.friends{    
    margin-left:5%;
    background-color: white;
    border:none;
    font-weight: bold;
}

#chatline input{
    flex-grow: 2;
    border: none;
    margin-top: 0.1%;
}

#chatline input:focus{
    box-shadow: none ;
}

#chatline button {
    flex-grow: 1;
    margin:0.5%;
}

#friend:focus{
    outline: none !important;
    border: rgb(0, 0, 0) 1px;
    box-shadow: 0 0 1px;
}

.alert{
    cursor: pointer;
    opacity: 0.6;
    border: 1px black solid;
    text-transform: capitalize;
    margin-bottom: 0em;
    border-radius: 0;
}

div{
    box-shadow: 20px black;
}

img{
    max-width: 1em;
    max-height: 1em;
}

#arrow{
    width:5%;
    position:fixed;
    bottom:7%;
    left:2%;
    animation: shake 2s;
    animation-iteration-count: infinite;
}

#footer{
    display:flex;
    font-weight: bold;
    justify-content: center;
    bottom:3%;
    color:white;
    background-color: black;
    font-size: 1em;
}

#search{
    position: absolute;
    bottom: 2vh;
    align-self: center;
}

#chats img{
    border-radius: 50%;
    width:5%;
    max-width: unset;
    max-height: unset;
}

li{
    list-style-type: mongolian;
}

a{
    color: unset !important;
    text-decoration: none !important;
}

.c2{
   padding: 0;
   position: relative;
   bottom: -3%;
}

label{
    margin: 0 !important;
    font-size: 0.8em;
}

.row-col{
    max-width: unset !important;
}