@media (min-width:768px){
 /* #chatline,#error{
      width:720px;
  }*/
    #error{
        width:720px;
    }

}

@media (min-width:576px){
    /*#chatline,#error{
        width:540px;
    }*/
  }

@media (min-width:466px){
  /* input.friends{
        width:60% !important;
    }
    .alert-danger input.friends{
        width: 65% !important;
    }*/
}

@media (min-width:768px){
  /*  input.friends{
        width:68% !important;
    }
    .alert-danger input.friends{
        width: 73% !important;
    }*/
}

@media (min-width:992px)
{
  /*  input.friends{
        width:75% !important;
    }
    .alert-danger input.friends{
        width: 80% !important;
    }*/
} 

@media(max-width:768px){
    /*.chat-btns{
        display: none;
    }*/
}

#header{
    background-color: rgb(255, 101, 101);
    font-size: 1em;
    color:white;
}

html{
    height: 100%;
}

body{
    height: 97%;
    background-color: #f2f2f2;
}

div.container.rounded{
    height: 100vh;
}

#head{
    text-align: center;
    font-size: 2em;
}

.why{
    background-color: rgb(255, 101, 101);
    font-size: 1em;
    justify-content: right; 
    color: rgb(255, 255, 255);
}

.what{
    cursor: pointer;
}

.alert-danger .friends{
    border-color: black;
    text-transform: capitalize;
}

.alert-danger .online{
    display: block !important;
    font-size: smaller;
}

#chatline,#error{
    padding-right: 15px;
    padding-left: 15px;
    display:flex;
    flex-direction:row;
    background-color: white;
    border: 1px solid gray;
    position: relative;
    bottom: 0%;    
}

#error{
   bottom:2%;
}

input.friends{    
    margin-left:5%;
    background-color: white;
    border:none;
    font-weight: bold;
}

#chatline input{
    flex-grow: 2;
    border: none;
    margin-top: 0.1%;
}

#chatline input:focus{
    box-shadow: none ;
}

#chatline button {
    flex-grow: 1;
    margin:0.5%;
}

#friend:focus{
    outline: none !important;
    border: rgb(0, 0, 0) 1px;
    box-shadow: 0 0 1px;
}

.alert{
    cursor: pointer;
    opacity: 0.6;
    border-bottom: 1px black solid;
    text-transform: capitalize;
    margin-bottom: 0em;
    border-radius: 0;
}

div{
    box-shadow: 20px black;
}

img{
    max-width: 2em;
}

#arrow{
    width:5%;
    position:fixed;
    bottom:7%;
    left:2%;
    animation: shake 2s;
    animation-iteration-count: infinite;
}

#footer{
    display:flex;
    font-weight: bold;
    justify-content: center;
    bottom:3%;
    color:white;
    background-color: black;
    font-size: 1em;
}

#search{
    position: absolute;
    bottom: 2vh;
    align-self: center;
}

#chats img{
    border-radius: 50%;
    width: 9%;
    max-width: unset;
    max-height: unset;
    height:auto;
}

li{
    list-style-type: mongolian;
}

a{
    color: unset !important;
    text-decoration: none !important;
}

.c2{
   padding: 0;
   position: relative;
   bottom: -3%;
}

label{
    margin: 0 !important;
    font-size: 0.8em;
}

.row-col{
    max-width: unset !important;
}

.open-chat{
    box-shadow: 0px 0px 10px rgb(155, 155, 155);
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    margin-bottom:2vh;
    margin-left:1vw;
    background-color: white;
    border:1px #343a40 solid;
}

.flex-layout{
    height: inherit;
}

.friends .header{
    display: flex;
    flex-direction: column;
}

.friends{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(155, 155, 155);
    background-color: #fefefe;
    margin-bottom: 2vh;
    border:1px #343a40 solid;
}

.header.header2{
    background-color: rgb(245, 245, 245);
}

.friend-search{
    width: 80%;
    height:90%;
    align-self: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px rgb(192, 192, 192) solid;
}

.friend-search input{
    border: none;
    margin-left: 1%;
    margin-right: 1%;
}

.friend-search input:focus{
    outline:none;
}

/*Style for  chatbox*/
div#chat{
    max-height: 95%;
}

#message:focus{
    outline: none !important;
    border: rgb(0, 0, 0) 1px;
    box-shadow: 0 0 1px;
}

#snackbar {
    max-width: 250px; /* Set a default minimum width */
    background-color: white; /* Black background color */
    color: black; /* White text color */
    border-radius: 10px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: relative; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    box-shadow: 5px;
}

.me{
    background-color: #d4edda !important;  
    margin-left: 60% !important;
}

.snack-head{
      background-color: lightgray;
      text-align:center;
      opacity: 0.5;
}

.row{
    display: block;
}

#chatbox{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display:flex;
    flex-direction:row;
    background-color: rgb(235, 235, 235);
    border: 1px solid gray;
    position: relative;   
}

#chatbox input{
    flex-grow: 2;
    border: none;
    margin-top: 0.1%;
}

#chatbox input:focus{
    box-shadow: none ;
}

#chatbox button {
    margin:0.5%;
}

.toast{
    width: 50vw;
}

.c2{
    padding: 0;
    position: relative;
    bottom: 0;
}

.align-self-end{
    font-size: 0.8em;
    color:rgb(163, 163, 163);
}

.notme{
    margin-bottom: 0.75rem;
}

.file-attach button{
  cursor: pointer;
  width: 3vw;
  
}

.file-attach input{
    display: none;
}

.hide-toggle{
    display: none !important;
}

.show-toggle{
    display: unset;
}

.font-4em{
    font-size: 4em;
}

.font-2em{
    font-size: 2em;
}

.background{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 20vh;
    z-index: -1;
    background-color: rgb(255, 101, 101);
}

.uniform-grey{
    color: rgb(143, 143, 143);
}

.header{
    height: 8%;
    z-index: 2;
    border-bottom: 1px rgb(214, 214, 214) solid;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chatWith{
    font-weight: bold;
}

.chatWith-image{
    width:10%;
    border-radius: 50%;
}

.overflow-scroll{
    overflow-y: scroll;
    overflow-x: visible;
}

/*Scroll bar design*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/*Scroll bar design*/

.no-right-left-margin{
    margin-left: 0em !important;
    margin-right: 0em !important;
}