@media (min-width:768px){
  #chatline,#error{
      width:720px;
  }
  #error{
    width:720px;
}
}
@media (min-width:576px){
    #chatline,#error{
        width:540px;
    }
  }
#header{
    background-color: rgb(255, 101, 101);
    font-size: 1em;
    
}
/*
html{
    height: 100%;
}
body{
    height:100%;
    background-image: url('backgroung.jpg');
    background-repeat: repeat;
    background-size: cover;
}  
.container{
    height:95%;
}*/
#head{
    text-align: center;
    font-size: 2em;
}
.why{
    background-color: rgb(255, 101, 101);
    font-size: 1em;
    justify-content: right; 
    color: rgb(236, 236, 236);
}
.what{
    cursor: pointer;
}

.alert-success .friends{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    text-transform: capitalize;
}



#chatline,#error{
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 15%;
    display:flex;
    flex-direction:row;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    position: fixed;
    bottom: 7%;    
}
#error{
   bottom:2%;
}

input.friends{
    width:80%;
    margin-left:5%;
    background-color: white;
    border:none;
    font-weight: bold;
}


#chatline input{
    flex-grow: 2;
    border: none;
    margin-top: 0.1%;
}
#chatline input:focus{
    box-shadow: none ;
}
#chatline button {
    flex-grow: 1;
    margin:0.5%;
}
#friend:focus{
    outline: none !important;
    border: rgb(0, 0, 0) 1px;
    box-shadow: 0 0 1px;
}
.alert{
    cursor: pointer;
    opacity: 0.6;
    border: 1px black solid;
    text-transform: capitalize;
}

div{
    box-shadow: 20px black;
}
img{
    max-width: 1em;
    max-height: 1em;
}

#arrow{
    width:5%;
    position:fixed;
    bottom:7%;
    left:2%;
    animation: shake 2s;
    animation-iteration-count: infinite;
}