<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.css">
    <link rel="stylesheet" href="/user_chats/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>   
    <script src="/socket.io/socket.io.js"></script>   
    <script src='/user_chats/script.js'></script>
    <title>Document</title>
</head>
<body>
    <div class='container'>
          <h1 class="badge badge-light m-1" id='head'>WhatsChat</h1>
          <div class='row mx-2' id='header'><div class='mx-3'>{{name}}</div></div>
          <div id='chat'></div>
          <div id='footer'>
            <input type='text' id='message'>
            <button id='sendmsg'>?</button>
          </div>
          
    </div>
</body>
</html>