<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chats</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <script src="/socket.io/socket.io.js"></script>
    <script src="/routes/user/script.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="/routes/user/css/style.css">  
    
</head>
<body>
    <div class="background">.</div>
    <div class="container rounded d-flex flex-column">
        <h1 class="badge badge-dark mt-2" id="head">MyChat</h1>
    
        <div class="d-flex flex-layout">
            
            <div class="friends view-0">
                <div class="header header1">
                    <div class="d-flex justify-content-between pl-4 pr-4">
                        <img class="my-photo" src="https://image.flaticon.com/icons/png/512/37/37943.png">
                        <i class="fas fa-ellipsis-v align-self-center" data-toggle="popover"></i>
                    </div>
                </div>
                <div class="header header2">
                    <div class="friend-search rounded-pill">
                        <input type="text" id="friend">
                    </div>
                </div>
                <div class="flex-grow-1 overflow-scroll"> 
                    <div id="chats" class="mx-2 my-2 "></div>
                </div>
            </div>
            <div class="open-chat d-flex flex-column view-1">
                <div class="header state-1">
                    <div class="d-flex flex-justify-between pl-2">   
                        <div class="chatWith pl-1">
                            Personal Info
                        </div>
                        <i class="fas fa-arrow-circle-left align-self-center pr-1 back-arrow" onclick="viewport(0)"></i>
                    </div>
                </div>
                <div class="profile state-1 d-flex flex-column justify-content-around">
                    <img id="image" class="profile-photo align-self-center" src="https://image.flaticon.com/icons/png/512/37/37943.png">
                    <div class='image-input d-flex flex-column justify-content-center mt-1'>
                   
                        <label for='input' class="justify-self-end"><i class="fa fa-edit" style="font-size: 1.2em;"></i></label>
                        <input id='input' type="file" name='profile' accept="image/*" onchange="previewfile()" class="btn btn-outline-dark rounded" >
               
                    </div>
                    <button id='submit' class="btn btn-outline-dark p-0" style="border: none;"><i class="fa fa-upload" style="font-size: 1.5em;"></i></button>
                    <table class="table table-borderless align-self-center"  id='info-table' aria-selected='true' role="tabpanel" aria-labelledby="info-table-tab">
                        <tbody>
                            <tr>
                                <th scope="row" colspan="3">Name</th>
                                <td class="name"></td>
                                <td><i class="far fa-edit"></i></td>
                            </tr>
                            <tr>
                                <th scope="row" colspan="3">Username</th>
                                <td class="username"></td>
                                <td><i class="fa fa-lock"></i></td>
                            </tr>
                            <tr>
                                <th scope="row" colspan="3">Email Id</th>
                                <td class="email">Not Added</td>
                                <td><i class="far fa-edit"></i></td>
                            </tr>
                            <tr>
                                <th scope="row" colspan="3">Mobile</th>
                                <td class='mobile'>Not Added</td>
                                <td><i class="far fa-edit"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-center uniform-grey state-2">
                    <iframe src="https://giphy.com/embed/l4FGFEMVfz1Mrp0qc" class="align-self-center" frameBorder="0"></iframe>
                    <div class="align-self-center font-2em">Your chats appear here</div> 
                </div> 
                <div class="header state-3">
                    <div class="d-flex pl-2 justify-content-between">
                        <div class="d-flex">
                            <div class="chatWith-image">
                                <img class="chatwith-photo" src="https://image.flaticon.com/icons/png/512/37/37943.png">
                            </div>   
                            <div class="chatWith pl-3">   
                            </div>
                        </div>
                        <i class="fas fa-arrow-circle-left align-self-center pr-1 back-arrow" onclick="viewport(0)"></i>
                    </div>
                </div>
                <div class="container flex-grow-1 p-2 overflow-scroll state-3" id='chat-container'>
                    <div id='chat' class='row no-right-left-margin'></div>
                </div>
                <div id='chatbox' class="state-3">
                    <button class='rounded' data-toggle="tooltip" data-html="true"><a>😊</a></button>
                    <input type='text' id='message' class='form-control col rounded-pill'>
                    <button class='btn btn-outline-dark' id='sendmsg'>></button>
                </div>
            </div>    
        </div>

        <!--hidden error-->
        <div id="error"><div class="container">User not found</div></div>
    </div>

</body>
</html>