<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyChat</title>

    <script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/routes/user/script.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="/routes/user/css/style.css">  

</head>
<body>
    <div class='box'></div>
    <div class="container my-3 rounded">
       <h1 class='badge badge-dark mt-2' id='head'>MyChat</h1>
       <div class="row m-2 rounded why">
           <div class='col-4 what'>Why MyChat?</div>
       </div>


       <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h5 class="text-white h4">Settings</h5>
            <ul class="text-muted"class='list-group'>
               <a href="/profile"><li >Profile</li></a>
            </ul>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>


      <!-- <div class='row mx-2 rounded' id='header'><div class='mx-3'>Friends</div></div>  -->
     <form method="POST" action="http://localhost:4000/chats" id='form'> 
        <!--Hidden Element-->
         <input id='send' name='chatWith'>
        <!--Hidden Element-->
       <div id='chats' class="mx-5 my-2 p-3"></div>
    </form>
    </div>
    <div id='chatline'>         
             <input type='text' id='friend' placeholder="Type in your friends name" class='form-control '>
             <button class="btn btn-outline-dark"><i class="fa fa-search"></i></button>
    </div>
    <div id='error'><div class='container'>User not found</div></div>

    <div class="container c2">
       <div id='footer' class="row">
            <span id='_1' class="col">WhatsChat Inc.</span>
            <span id='_2' class="mx-2 mr-1 col-3 col-md-2">Contact Us</span>
            <a href="/disclaimer"><span id='_3' class="mx-2 mr-1 col-2">Disclamer</span></a>
       </div>
    </div>  
</body>
</html>